.dashboard-slider {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    padding-bottom: 5vh;
    animation: fade-in 1.5s ease-out 0s 1;
}

@keyframes fade-in {
    0% {opacity:0;}
    70% {opacity:1;}
    100% {opacity:1;}
}

.dashboard-card {
    width: 300px;
    min-height: 100px;
    margin:10px 0;
    background-color:transparent;
    scroll-snap-align: center;
    animation: fade-in .325s ease-out 0s 1;
}

.dashboard-card:nth-child(1){ animation: fade-in .325s ease-out 0s 1; }
.dashboard-card:nth-child(2){ animation: fade-in .575s ease-out 0s 1; }
.dashboard-card:nth-child(3){ animation: fade-in .725s ease-out 0s 1; }
.dashboard-card:nth-child(4){ animation: fade-in .975s ease-out 0s 1; }
.dashboard-card:nth-child(5){ animation: fade-in 1.125s ease-out 0s 1; }

.dashboard-card-body-wrapper {
    width:100%;
    margin-top: 10px;
    padding-top: 20px;
    transition: padding-top .3s ease-out, padding-bottom .3s ease-out;
}

@keyframes card-in {
    0% {opacity:0;}
    35% {opacity:1;}
    100% {opacity:1;}
}

.dashboard-card-body {
    width:100%;
    padding:15px;
    border-radius: 3px;
    background-color:var(--secondary);
    box-shadow: 0 2px 12px rgba(0,0,0,.0925);
    border:1px solid var(--secondary-1);
    min-height: 100px;
    border-top: 1px solid rgba(0,0,0,.1);
    transition: border-top-width .3s ease-out, box-shadow .3s ease-out, margin-top .3s ease-out;
}

.dashboard-card-title {
    width:60px;
    height:60px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 3px;
    background: #007aff;
    position: absolute;
    z-index:1;
    border-top: 2px solid rgba(0,0,0,.2);
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: border-top-width .3s ease-out, box-shadow .3s ease-out, margin-top .3s ease-out;
}

.dashboard-card-body > h1 {
    text-indent: 80px;
    margin:0 0 20px 0;
}

.dashboard-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card-footer > button {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 8px !important;
    border-bottom: 2px solid rgba(0,0,0,.1) !important;
}

.dashboard-card-title > i {
    color: #fff;
    font-size:32px;
}

.dashboard-progress-wrapper {
    flex:1;
    display:flex;
    flex-direction: column;
    padding: 0 30px 0 15px;
}

.dashboard-progress-bar {
    width:100%;
    height:5px;
    border-radius: 3px;
    background-color:rgba(0,0,0,.0875);
}

.dashboard-progress-content {
    width:100%;
    text-align: center;
    font-size: 13px;
    color:var(--snack);
    margin-bottom:5px;
}

.dashboard-progress {
    height:inherit;
    border-radius: 3px;
    width:0;
    transition: width .3s ease-out;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.dashboard-card:hover .dashboard-card-title,
.dashboard-card:focus .dashboard-card-title {
    margin-top: 0;
    box-shadow: 0 6px 16px rgba(0,0,0,.4);
    border-top-width: 4px;
}

.dashboard-card:hover .dashboard-card-body-wrapper,
.dashboard-card:focus .dashboard-card-body-wrapper {
    padding-top: 15px;
    padding-bottom: 5px;
}

.dashboard-card:hover .dashboard-card-body-wrapper > .dashboard-card-body,
.dashboard-card:focus .dashboard-card-body-wrapper > .dashboard-card-body {
    box-shadow: 0 8px 24px rgba(0,0,0,.185);
    border-top-width: 2px;
}

#dashboard-dialog > div > div {
    min-width:275px;
}

#dashboard-dialog > div:first-child {
    background-color:transparent;
}

#color-selector {
    margin-top: 15px;
}

.selector-icon {
    margin-right: 10px;
}

#manage-list {
    display:flex;
    flex-direction: column;
    width:100%;
}

.collection-list {
    display:flex;
    flex-direction: row;
}

.collection-list > p {
    flex:1;
    display:inline-flex;
    align-items: center;
    justify-content: flex-start;    
}

.collection-list > p > i {
    color: var(--fade);
    margin-right: 5px;
}

#manage-collection-dialog {
    position:fixed;
    z-index:2000;
    top:0;
    left:0;
    background-color:#ffffff;
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: slide-up .275s ease-out 0s 1;
}

@keyframes slide-up {
    from {top:100vh}
    to {top:0}
}

.color-red { 
    background: var(--collection-red) !important; 
}
.color-green { 
    background: var(--collection-green) !important; 
}
.color-blue {
    background: var(--collection-blue) !important; 
}
.color-pink { 
    background: var(--collection-pink) !important; 
}
.color-violet { 
    background: var(--collection-violet) !important; 
}