#fluent-drawer {
    display:flex;
    flex-direction: column;
    position:fixed;
    justify-content: space-between;
    top:0;
    left:0;
    z-index:100;
    min-width: 75px;
    width:auto;
    height:100vh;
    background-color:rgba(255,255,255,0.9);
    padding: 10px;
}

#fluent-drawer > div {
    display:flex;
    flex-direction: column;
    width:48px;
}

#fluent-drawer > div:first-child { flex:1; }

#fluent-drawer > div > a {
    width:48px;
    margin-bottom: 5px;
    text-decoration: none;
    outline:none;
}
